# Configs
.runtimeconfig.json
.npmrc
.env*.local

# Dependencies
node_modules/
bower_components
build/Release
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build
dist
lib
*.tsbuildinfo
.npm

# Tests & Coverage
coverage
firestore-coverage.html
result.json

# Logs
logs
*.log
.log*

# OS & IDEs
.DS_Store
.idea
