<div class="relative max-w-7xl mx-auto overflow-hidden">
  <div v-if="event">
    <div class="aspect-w-5 aspect-h-2 w-full overflow-hidden">
      <div
        class="absolute bg-cover bg-top inset-0 w-full h-full object-contain"
        :style="event.bannerUrl 
              ? { backgroundImage: 'url(' + event.bannerUrl + ')' } 
              : { backgroundImage: 'url(/images/banner_16_9_default.jpg)'}"
      ></div>
    </div>

    <div class="px-4 sm:px-6 lg:px-8 mt-12 xs:mt-6">
      <h3 class="text-3xl font-medium text-brand-black">
        {{ event.name }}
        <div
          v-if="event.series && event.seriesType"
          class="
            inline-block
            align-middle
            bg-brand-black
            text-brand-blue-500
            rounded-sm
            text-xs
            px-1
            py-0.5
            mb-1
            ml-0.5
          "
        >
          {{ event.seriesType }}
        </div>
      </h3>

      <p class="text-gray-400">
        {{ $filters.eventDate(event) }} @ {{ event.location }}
      </p>
      <div v-if="event.description" class="my-4">{{ event.description }}</div>
      <div
        v-for="badge in event.badges"
        class="
          inline-block
          bg-brand-black-50
          rounded-sm
          text-sm
          py-0.5
          px-1.5
          mr-1.5
        "
      >
        {{ badge }}
      </div>
    </div>
  </div>
  <div v-else class="px-4 sm:px-6 lg:px-8 mt-12 xs:mt-6">
    <!-- TODO: Design this -->
    <h3 class="text-xl">Event does not exist</h3>
  </div>
</div>
