@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$section-padding: 1.75rem 1.75rem;

// Set your colors
// Based on https://coolors.co/010400-30332e-fffbfc-62bbc1-ec058e
$primary: #16b;
$primary-invert: findColorInvert($primary);
$primary-light: rgba(170, 224, 255, 0.425);
$primary-light-invert: findColorInvert($primary-light);
$accent: #e43f5a;
$accent-invert: findColorInvert($accent);
$disabled: #ccc;
$disabled-invert: findColorInvert($disabled);

$black: #010400;
$white: #fffbfc;
$dark: #162447;
$dark-invert: findColorInvert($dark);
$light: #f4f4f6;
$light-invert: findColorInvert($light);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
@import '~bulma/sass/utilities/derived-variables';

$brand-colors: (
  'primary': (
    $primary,
    $primary-invert
  ),
  'primary-light': (
    $primary-light,
    $primary-light-invert
  ),
  'accent': (
    $accent,
    $accent-invert
  ),
  'disabled': (
    $disabled,
    $disabled-invert
  ),
  'black': (
    $black,
    $white
  ),
  'white': (
    $white,
    $black
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'light': (
    $light,
    $light-invert
  )
);

$colors: map-merge($colors, $brand-colors);

$modal-background-background-color: rgba(204, 204, 204, 0.85);

// Fonts
$family-primary: 'Lato', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-second: 'Lato', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$link-hover: $accent;

$footer-background-color: $white-ter;

// Export to JS
:export {
  /* stylelint-disable property-case, property-no-unknown */
  colorAccent: $accent;
  colorAccentInvert: $accent-invert;
  /* stylelint-enable */
}
