<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8 sm:mt-6">
  <h1
    v-if="futureEvents.length > 0"
    class="text-3xl font-medium text-brand-black pb-8"
  >
    {{ $t('eventsFutureTitle') }}
  </h1>
  <EventRow
    v-for="event in futureEvents"
    :key="'event' + event.slug"
    :event="event"
  />

  <h1
    v-if="pastEvents.length > 0"
    class="text-3xl font-medium text-brand-black pb-8"
  >
    {{ $t('eventsPastTitle') }}
  </h1>
  <EventRow
    v-for="event in pastEvents"
    :key="'event' + event.slug"
    :event="event"
  />
</div>
