<div class="max-w-7xl mx-auto px-6 sm:px-6 lg:px-8">
  <!-- Grid -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-6 mt-8"
  >
    <div v-for="space in spaces" :key="space.slug" class="shadow-lg">
      <!-- Space: Banner -->
      <div class="relative w-full aspect-w-16 aspect-h-9">
        <div
          class="w-full h-full bg-cover bg-top"
          :style="{ backgroundImage: 'url(' + space.banner + ')' }"
        >
          <div
            class="
              absolute
              inline-block
              top-3
              right-3
              w-16
              h-16
              rounded-md
              bg-cover bg-top
            "
            :style="{ backgroundImage: 'url(' + space.logo + ')' }"
          />
        </div>
      </div>

      <!-- Space: Text -->
      <div class="px-5 py-5">
        <div class="flex items-center">
          <h1 class="flex-shrink text-brand-black text-3xl leading-none">
            {{ space.name }}
          </h1>
          <div class="flex-grow">
            <div
              class="
                inline-block
                text-xs
                lowercase
                text-brand-black
                ring-1 ring-brand-blue-900
                bg-brand-blue-50
                rounded-full
                ml-2
                px-1.5
                py-0.5
              "
            >
              {{ space.category }}
            </div>
          </div>
        </div>

        <p class="mt-2">
          <span v-if="space.locationLatitude && space.locationLongitude">
            <a
              class="text-blue-700 hover:text-blue-500 line-clamp-1"
              :href="
            `https://www.google.com/maps/search/?api=1&query=${space.locationLatitude},${space.locationLongitude}` "
            >
              <svg
                class="inline-block w-4 h-4 mb-0.5"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z"
                />
              </svg>
              {{space.locationText}}
            </a>
          </span>
          <span v-else-if="space.locationText.startsWith('http')">
            <a
              class="text-blue-700 hover:text-blue-500 line-clamp-1"
              :href="space.locationText"
            >
              {{space.locationText}}
            </a>
          </span>
          <span v-else class="line-clamp-1">{{space.locationText}}</span>
        </p>

        <p class="text-gray-500 mt-3">{{ space.description[$i18n.locale] }}</p>
      </div>
    </div>
  </div>
</div>
