<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 mt-8 sm:mt-6">
  <h3 class="text-3xl font-medium text-brand-black">{{ t.title[lang] }}</h3>

  <p class="mt-4">{{ t.intro[lang] }}</p>

  <form>
    <!-- Share or Propose? -->
    <div class="flex flex-wrap mt-3 -mx-3">
      <div class="w-full md:w-1/2 mt-3 px-3">
        <input
          type="radio"
          id="event-type-share"
          name="event-type"
          value="share"
          v-model="form.eventType"
          class="hidden"
        />
        <label
          for="event-type-share"
          class="
            flex
            w-full
            p-4
            text-brand-black-700
            bg-gray-100
            border-2 border-gray-300
            rounded-lg
          "
          :class="{ 
            'bg-brand-blue-50': isShare,
            'border-brand-blue-900' : isShare
          }"
        >
          <img
            v-if="isShare"
            src="@assets/icons/calendar-import.svg"
            class="text-brand-blue-900 pr-4"
          />
          <img
            v-else
            src="@assets/icons/circle-outline.svg"
            class="text-brand-blue-900 pr-4"
          />
          <div>
            <p class="font-semibold leading-5">{{ t.modeShareTitle[lang] }}</p>
            <p class="text-brand-black-400 text-sm">
              {{ t.modeShareDescription[lang] }}
            </p>
          </div>
        </label>
      </div>
      <div class="w-full md:w-1/2 mt-3 px-3">
        <input
          type="radio"
          id="event-type-propose"
          name="event-type"
          value="propose"
          v-model="form.eventType"
          class="hidden"
        />
        <label
          for="event-type-propose"
          class="
            flex
            w-full
            p-4
            text-brand-black-700
            bg-gray-100
            border-2 border-gray-300
            rounded-lg
          "
          :class="{ 
            'bg-brand-blue-50': isPropose,
            'border-brand-blue-900' : isPropose
          }"
        >
          <img
            v-if="isPropose"
            src="@assets/icons/calendar-plus.svg"
            class="text-brand-blue-900 pr-4"
          />
          <img
            v-else
            src="@assets/icons/circle-outline.svg"
            class="text-brand-blue-900 pr-4"
          />
          <div>
            <p class="font-semibold leading-5">
              {{ t.modeProposeTitle[lang] }}
            </p>
            <p class="text-brand-black-400 text-sm">
              {{ t.modeProposeDescription[lang] }}
            </p>
          </div>
        </label>
      </div>
    </div>

    <div
      class="
        mt-6
        py-4
        px-3
        flex flex-wrap
        rounded-lg
        border-2 border-brand-blue-900
      "
    >
      <!-- Event Name -->
      <!-- Note: Full-width first row simplifies top-margin on mobile -->
      <div class="flex w-full px-3">
        <div class="flex-grow">
          <label
            class="
              block
              py-2
              uppercase
              tracking-wide
              text-brand-black-700 text-xs
              font-bold
            "
            for="event-name"
          >
            {{ t.eventNameLabel[lang] }}
          </label>
          <input
            v-model="form.name"
            class="
              appearance-none
              block
              w-full
              py-3
              px-4
              bg-gray-100
              border border-gray-200
              text-brand-black-700
              leading-tight
              rounded
              focus:outline-none
              focus:bg-white
              focus:border-gray-500
            "
            id="event-name"
            type="text"
            :placeholder="t.eventNamePlaceholder[lang]"
            maxlength="50"
          />
        </div>
        <div
          class="flex-none mt-auto mb-2.5 px-3 text-gray-400 text-md font-mono"
        >
          {{ form.name.length }}/50
        </div>
      </div>

      <!-- Website -->
      <div v-if="isShare" class="w-full md:w-1/2 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="event-url"
        >
          {{ t.eventWebsiteLabel[lang] }}
        </label>
        <input
          v-model="form.website"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="event-url"
          type="url"
          :placeholder="t.eventWebsitePlaceholder[lang]"
        />
      </div>

      <!-- Topics -->
      <div v-if="isShare" class="w-full md:w-1/2 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="event-topics"
        >
          {{ t.eventTopicsLabel[lang] }}
        </label>
        <input
          v-model="form.topics"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="event-topics"
          type="text"
          :placeholder="t.eventTopicsPlaceholder[lang]"
        />
      </div>

      <!-- Date -->
      <div v-if="isShare" class="w-full md:w-1/2 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="date"
        >
          {{ t.eventDateLabel[lang] }}
        </label>
        <input
          v-model="form.date"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="date"
          type="date"
        />
      </div>

      <!-- Time Start -->
      <div v-if="isShare" class="w-full md:w-1/4 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="time-start"
        >
          {{ t.eventTimeStartLabel[lang] }}
        </label>
        <input
          v-model="form.timeStart"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="time-start"
          type="time"
        />
      </div>

      <!-- Time End -->
      <div v-if="isShare" class="w-full md:w-1/4 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="time-end"
        >
          {{ t.eventTimeEndLabel[lang] }}
        </label>
        <input
          v-model="form.timeEnd"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="time-end"
          type="time"
        />
      </div>

      <!-- Location -->
      <div v-if="isShare" class="w-full md:w-1/4 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="location"
        >
          {{ t.eventLocationLabel[lang] }}
        </label>
        <select
          v-model="form.location"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="location"
          placeholder="blah"
        >
          <option value="">{{ t.eventLocationPlaceholder[lang] }}</option>
          <option value="online">{{ t.eventLocationOnline[lang] }}</option>
          <option value="phitsanulok">
            {{ t.eventLocationPhitsanulok[lang] }}
          </option>
          <option value="bangkok">{{ t.eventLocationBangkok[lang] }}</option>
          <option value="other">{{ t.eventLocationOther[lang] }}</option>
        </select>
      </div>

      <!-- Venue -->
      <div v-if="isShare" class="w-full md:w-3/4 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="location-map"
        >
          {{ t.eventLocationVenueLabel[lang] }}
        </label>
        <input
          v-model="form.locationVenue"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="location-map"
          type="text"
          :placeholder="t.eventLocationVenuePlaceholder[lang]"
        />
      </div>

      <hr
        v-if="isShare"
        class="w-full mt-8 mx-3 border border-brand-blue-900"
      />

      <div v-if="isPropose" class="w-full mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="notes"
        >
          {{ t.eventDescriptionRequestsLabel[lang] }}
        </label>
        <textarea
          v-model="form.description"
          class="
            appearance-none
            block
            w-full
            h-32
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="notes"
          type="text"
          :placeholder="t.eventDescriptionRequestsPlaceholder[lang]"
        ></textarea>
      </div>

      <!-- Name -->
      <div class="w-full md:w-1/2 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="contact-name"
        >
          {{ t.eventContactNameLabel[lang] }}
        </label>
        <input
          v-model="form.contactName"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="contact-name"
          type="text"
          placeholder="Charles Allen"
        />
      </div>

      <!-- Contact -->
      <div class="w-full md:w-1/2 mt-6 px-3">
        <label
          class="
            block
            py-2
            uppercase
            tracking-wide
            text-brand-black-700 text-xs
            font-bold
          "
          for="contact-id"
        >
          {{ t.eventContactIdLabel[lang] }}
        </label>
        <input
          v-model="form.contactId"
          class="
            appearance-none
            block
            w-full
            py-3
            px-4
            bg-gray-100
            border border-gray-200
            text-brand-black-700
            leading-tight
            rounded
            focus:outline-none
            focus:bg-white
            focus:border-gray-500
          "
          id="contact-id"
          type="text"
          placeholder="LINE: @yourlineid"
        />
      </div>

      <div class="mt-8 px-3">
        <button
          type="submit"
          class="
            inline-flex
            mb-2
            py-2
            px-4
            bg-brand-blue-600
            text-white text-sm
            font-semibold
            uppercase
            tracking-wide
            justify-center
            border border-transparent
            shadow-sm
            rounded-md
            hover:bg-brand-blue-700
            focus:outline-none
            focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue-500
            disabled:bg-gray-300
            disabled:text-gray-900
            disabled:opacity-50
            disabled:cursor-wait
          "
          :disabled="isSubmitting"
        >
          <span v-if="isSubmitting">{{ t.submitLabelSubmitting[lang] }}</span>
          <span v-else>{{ t.submitLabel[lang] }}</span>
        </button>
      </div>
    </div>
  </form>
</div>
