rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events-suggested/{suggestionId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}