<!-- Banner -->
<div class="bg-gray-400 w-full">
  <HomeBanners />
</div>

<!-- Calendar lookahead -->
<div class="bg-gray-200">
  <div class="max-w-7xl mx-auto px-3 pt-3 pb-1.5">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-7 gap-x-4 px-2">
      <div v-for="(dayAndEvent, i) in sevenDaysAhead" :key="'calendar' + i">
        <div class="text-sm text-gray-500 font-semibold tracking-wide">
          {{ dayAndEvent.day }}
        </div>
        <router-link
          v-if="dayAndEvent.events.length === 0"
          :to="{ name: 'EventsCreate' }"
          class="block py-2 text-xs text-gray-400 hover:text-blue-400"
        >
          Add event
        </router-link>
        <div
          v-for="(event, idx) in dayAndEvent.events"
          :key="event.id"
          class="
            my-2
            bg-gray-100
            hover:bg-white
            ring-2 ring-gray-300
            rounded-sm
            text-blue-600
            cursor-pointer
          "
        >
          <div
            v-if="idx < 2"
            @click="$router.push({ name: 'Event', params: { slug: event.slug } })"
            class="px-2 lg:px-2.5 py-1.5 lg:py-2"
          >
            <div
              class="
                line-clamp-2
                break-words
                md:text-sm
                lg:text-base
                leading-5
                md:leading-4
                lg:leading-5
              "
            >
              {{ event.name }}
            </div>
            <div
              class="
                line-clamp-1
                break-all
                text-gray-600 text-xs
                lg:text-sm
                mt-0.5
              "
            >
              {{ $filters.eventTime(event) }}
              <sup v-if="event.dateStart.day() !== event.dateEnd.day()">+1</sup>
            </div>
          </div>
          <div
            v-if="idx === 2"
            @click="$router.push({ name: 'Events' })"
            class="text-gray-400 font-light px-2 lg:px-2.5 py-1.5 lg:py-2"
          >
            ...
          </div>
        </div>
      </div>
    </div>

    <div class="text-right leading-none pb-1 sm:pb-0">
      <router-link
        :to="{ name: 'Events' }"
        class="text-xs text-blue-600 hover:text-blue-400"
      >
        See all &gt;
      </router-link>
    </div>
  </div>
</div>

<!-- Call to action -->
<div
  class="
    relative
    overflow-hidden
    max-w-7xl
    mx-auto
    px-5
    sm:px-6
    lg:px-8
    xl:px-2
  "
>
  <div
    class="relative z-10 bg-white lg:w-full lg:max-w-2xl mt-6 sm:mt-8 lg:pb-6"
  >
    <svg
      class="
        hidden
        lg:block
        absolute
        right-0
        inset-y-0
        h-full
        w-48
        text-white
        transform
        translate-x-1/2
      "
      fill="currentColor"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
      aria-hidden="true"
    >
      <polygon points="50,0 100,0 50,100 0,100" />
    </svg>
    <div>
      <h1
        class="
          text-3xl
          tracking-tight
          font-extrabold
          text-brand-black
          sm:text-4xl
          md:text-5xl
          md:py-4
        "
      >
        <span class="block">Become a Phits Tech</span>
        <span class="block text-brand-blue-400">Community Hero</span>
      </h1>
      <p
        class="
          lg:max-w-xl
          text-gray-500 text-base
          sm:text-lg
          md:text-xl
          mt-3
          sm:mt-5
          md:mt-5
        "
      >
        Phits Tech
        มีความตั้งใจที่จะรวมกลุ่มคนสายเทคโนโลยีในจังหวัดพิษณุโลกและพื้นที่ใกล้เคียง
        เพื่อแบ่งปันประสบการณ์ แลกเปลี่ยนเรียนรู้ มาสนุกและเติบโตไปด้วยกัน
        หากคุณกำลังมีการจัดประชุม
        นัดพบปะพูดคุยในเรื่องที่พวกคุณสนใจเกี่ยวกับเทคโนโลยี
        หรือหากคุณมีความคิดที่จะจัดกิจกรรมอื่น ๆ เรายินดีช่วยประชาสัมพันธ์
        ให้คำปรึกษาและช่วยเหลือคุณ
      </p>
      <p
        class="
          lg:max-w-xl
          text-gray-500 text-base
          sm:text-lg
          md:text-xl
          mt-3
          sm:mt-5
          md:mt-5
        "
      >
        Phits Tech aims to bring together the tech community in or around
        Phitsanulok to share, learn, grow and have fun together. If you are
        organising a meetup, talk, hackathon, or any other type of tech event
        that the community might be interested in then please let us know. Or if
        you have an idea for an event but need help organising then we also
        welcome your submissions.
      </p>
      <div class="mt-5 sm:mt-6 lg:flex sm:justify-end lg:justify-start">
        <!-- TODO: Sync button styles (copy from /heroes) -->
        <div class="rounded-md shadow">
          <router-link
            :to="{ name: 'EventsCreate' }"
            class="
              w-full
              flex
              items-center
              justify-center
              px-8
              py-3
              border border-transparent
              text-base
              font-medium
              rounded-md
              text-white
              bg-brand-blue-600
              hover:bg-brand-blue-800
              md:py-4
              md:text-lg
              md:px-10
            "
          >
            Host an event
          </router-link>
        </div>
      </div>
    </div>
  </div>
  <div
    class="
      lg:absolute
      lg:inset-y-0
      lg:right-0
      lg:w-1/2
      mt-6
      sm:mt-8
      sm:mb-2
      md:mt-10
    "
  >
    <img
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      src="@assets/group-photo.jpg"
      alt="People gathering at a Phits.Tech community event"
    />
  </div>
</div>
