.crop-200x200 img {
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.crop-24x24 img {
  width: 24px;
  max-width: 24px;
  height: 24px;
  max-height: 24px;
  object-fit: cover;
  object-position: center;
}
