<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
  <div v-if="user" class="sm:flex p-4">
    <!-- Contact -->
    <!-- URGENT: For `sm`, put contact panel top; photo left & details right -->
    <div class="flex-none sm:mr-8 md:mr-10 lg:mr-12 sm:w-48 md:w-60 lg:w-72">
      <div
        class="rounded-md overflow-hidden shadow-lg pb-1 ring-1 ring-gray-50"
      >
        <div
          class="aspect-h-1 aspect-w-1 bg-cover"
          :style="{ backgroundImage: 'url(' + user.pic + ')' }"
        />
        <div class="px-4 py-4">
          <h1 class="text-3xl font-medium text-brand-black">{{ user.name }}</h1>
          <h2 class="text-lg italic text-gray-400 font-light leading-tight">
            {{ user.slug }}
          </h2>
          <p class="pt-4">
            <a
              v-for="[socialKey, socialUrl] in socialAccounts"
              :key="`${user.slug}${socialKey}`"
              :href="socialUrl"
              class="mr-1 hover:text-brand-blue-800"
            >
              <img
                :src="require(`@assets/icons/${socialKey}.svg`)"
                class="inline w-6 h-6 sm:w-5 sm:h-5 md:w-6 md:h-6"
                :alt="`${socialKey} profile`"
              />
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- Profile -->
    <div class="mt-8 sm:mt-0 sm:flex-auto">
      <h2 class="text-2xl italic">{{ user.tagline }}</h2>
      <p class="text-lg mt-4">{{ user.bio }}</p>
      <p class="mt-4">
        <span
          v-for="skill in user.skills.sort()"
          class="inline-block bg-gray-100 text-brand-black rounded-md ring-1 ring-gray-200 px-1.5 py-1 text-xs font-light mr-2 mb-2"
        >
          {{ skill }}
        </span>
      </p>
      <div class="flex items-center mt-8">
        <h3 class="flex-grow text-xl">
          <span class="sm:hidden md:inline">Community </span>Contribution
        </h3>
        <p class="flex-none text-right text-sm font-light text-brand-black-900">
          {{ ccusFromContribution + ccusFromAttendance }}
          <span class="has-tooltip border-b-2 border-gray-300 border-dotted"
            ><span
              class="tooltip text-center w-36 rounded shadow-lg py-2 bg-gray-50 text-brand-black-500 italic transform -translate-x-1/2 mt-7 ml-4"
              >Community Contribution Units</span
            >CCU</span
          >
          · {{ user.lccus }}
          <span class="has-tooltip border-b-2 border-gray-200 border-dotted"
            ><span
              class="tooltip text-center w-20 rounded shadow-lg py-1 bg-gray-50 text-brand-black-500 italic transform -translate-x-1/2 mt-7 ml-5"
              >Lifetime CCUs</span
            >LCCU</span
          >
        </p>
      </div>

      <!-- Contribution CCUs (listed) -->
      <router-link
        v-for="contribution in eventsContributionAll"
        :key="contribution.slug"
        :to="{ name: 'Event', params: { slug: contribution.slug }}"
        class="flex items-center bg-gray-100 space-x-4 lg:space-x-5 mt-3"
      >
        <div class="flex-none">
          <div
            class="w-28 sm:w-24 md:w-32 lg:w-32 aspect-w-16 aspect-h-9 bg-cover bg-top"
            :style="false 
            ? { backgroundImage: 'url(' + contribution.banner169Url + ')' } 
            : { backgroundImage: 'url(/images/banner_16_9_default.jpg)'}"
          />
        </div>
        <div class="flex-grow">
          <p
            class="line-clamp-1 sm:text-sm md:text-base lg:text-lg xl:text-xl font-light"
          >
            {{ contribution.name }}
          </p>
          <p class="text-xs xl:text-sm text-gray-400 font-light italic">
            <!-- URGENT: Write a filter to convert the date direct from Timestamp -->
            {{ contribution.role }} - {{ contribution.date.seconds }}
          </p>
        </div>
        <div class="flex-none pr-4 lg:pr-5">
          <p
            class="text-xl font-extralight"
            :class="{ 'text-brand-black-100': contribution.date.seconds < ccuCutoffSeconds }"
          >
            {{ contribution.ccus }}
          </p>
        </div>
      </router-link>

      <!-- Attendance CCUs (aggregated) -->
      <div
        v-if="eventsAttendanceCcu.length > 0"
        class="flex items-center bg-gray-100 space-x-4 mt-3"
      >
        <div class="flex-none">
          <div
            class="w-28 sm:w-24 md:w-28 lg:w-32 xl:w-36 aspect-w-16 aspect-h-9 bg-cover bg-top"
            :style="false 
            ? { backgroundImage: 'url(' + 'potato' + ')' } 
            : { backgroundImage: 'url(/images/banner_16_9_default.jpg)'}"
          />
        </div>
        <div class="flex-grow">
          <p class="line-clamp-1 sm:text-sm md:text-base lg:text-lg font-light">
            Attendee x {{ eventsAttendanceCcu.length }} ({{ ccusFromAttendance
            }} hours)
          </p>
        </div>
        <div class="flex-none pr-4">
          <p class="text-xl font-extralight">{{ ccusFromAttendance }}</p>
        </div>
      </div>

      <h3 v-if="user.events.length > 0" class="flex-grow text-xl mt-8">
        Events Attended ({{ user.events.length }})
      </h3>
      <div
        class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 gap-3 mt-3"
      >
        <router-link
          v-for="event in user.events"
          :key="event.slug"
          :to="{ name: 'Event', params: { slug: event.slug }}"
        >
          <div
            class="aspect-w-16 aspect-h-9 bg-cover bg-top"
            :style="false 
              ? { backgroundImage: 'url(' + event.banner169Url + ')' } 
              : { backgroundImage: 'url(/images/banner_16_9_default.jpg)'}"
          />
        </router-link>
      </div>
    </div>
  </div>
</div>
